{{#each users}}
  <a href="user?id={{id}}" class="user">
    <img class="user__image" src="{{profile_img}}" alt="{{first_name}}" />
    <h2 class="user__name">{{first_name}} {{last_name}}</h2>
  </a>
{{/each}}
